.hg/
data/session/*
!data/session/session.placeholder
data/logs/skeleton.log
**/*.local.php
**/social-config.global.php
data/media/user-images/*.png
!data/media/user-images/avatar.png
public/img/captcha/*.png
module/**/language/*.mo
module/**/language/*.po
.vagrant/
data/how-to/
module/AclUser/src/Entity/Migrations.php
vendor/
config/cron
public/img/flags/enabled/*.png
data/cache/*
!data/cache/cache.placeholder
phpunit.xml
.hgignore
